# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

firebase.js
docs/App.jsx.html
docs/components_eventBindingClass.jsx.html
docs/components_messageClass.jsx.html
docs/components_methodAsProps_methodAsProps.jsx.html
docs/index.html
docs/module.html#.exports
docs/fonts/OpenSans-Bold-webfont.eot
docs/fonts/OpenSans-Bold-webfont.svg
docs/fonts/OpenSans-Bold-webfont.woff
docs/fonts/OpenSans-BoldItalic-webfont.eot
docs/fonts/OpenSans-BoldItalic-webfont.svg
docs/fonts/OpenSans-BoldItalic-webfont.woff
docs/fonts/OpenSans-Italic-webfont.eot
docs/fonts/OpenSans-Italic-webfont.svg
docs/fonts/OpenSans-Italic-webfont.woff
docs/fonts/OpenSans-Light-webfont.eot
docs/fonts/OpenSans-Light-webfont.svg
docs/fonts/OpenSans-Light-webfont.woff
docs/fonts/OpenSans-LightItalic-webfont.eot
docs/fonts/OpenSans-LightItalic-webfont.svg
docs/fonts/OpenSans-LightItalic-webfont.woff
docs/fonts/OpenSans-Regular-webfont.eot
docs/fonts/OpenSans-Regular-webfont.svg
docs/fonts/OpenSans-Regular-webfont.woff
docs/scripts/linenumber.js
docs/scripts/prettify/Apache-License-2.0.txt
docs/scripts/prettify/lang-css.js
docs/scripts/prettify/prettify.js
docs/styles/jsdoc-default.css
docs/styles/prettify-jsdoc.css
docs/styles/prettify-tomorrow.css
out/index.html
out/fonts/OpenSans-Bold-webfont.eot
out/fonts/OpenSans-Bold-webfont.svg
out/fonts/OpenSans-Bold-webfont.woff
out/fonts/OpenSans-BoldItalic-webfont.eot
out/fonts/OpenSans-BoldItalic-webfont.svg
out/fonts/OpenSans-BoldItalic-webfont.woff
out/fonts/OpenSans-Italic-webfont.eot
out/fonts/OpenSans-Italic-webfont.svg
out/fonts/OpenSans-Italic-webfont.woff
out/fonts/OpenSans-Light-webfont.eot
out/fonts/OpenSans-Light-webfont.svg
out/fonts/OpenSans-Light-webfont.woff
out/fonts/OpenSans-LightItalic-webfont.eot
out/fonts/OpenSans-LightItalic-webfont.svg
out/fonts/OpenSans-LightItalic-webfont.woff
out/fonts/OpenSans-Regular-webfont.eot
out/fonts/OpenSans-Regular-webfont.svg
out/fonts/OpenSans-Regular-webfont.woff
out/scripts/linenumber.js
out/scripts/prettify/Apache-License-2.0.txt
out/scripts/prettify/lang-css.js
out/scripts/prettify/prettify.js
out/styles/jsdoc-default.css
out/styles/prettify-jsdoc.css
out/styles/prettify-tomorrow.css
package-lock.json
